**/venv/
**/__pycache__/
**/*.pyc
**/.pytest_cache/

display/media/
display/status/
display/logs/
display/config/backups/
display/config/config.json

hub/logs/
hub/config/displays.json
hub/config/pending_displays.json
hub/config/heartbeats.json

*.tmp
*.bak
.DS_Store


